* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 90%;
    margin: auto;
}

.d_flex {
    display: flex;
}

.btn {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 6px;
}